{% extends 'base.html' %}
{% load static %}

{% block header %}
{% endblock %}

{% block title %}
    Сброс пароля
{% endblock %}

{% block middle %}
    <div class="Middle Middle_top">
        <div class="BannersHomeBlock-img">
            <div class="wrap">
                <div class="Middle-header">
                    <h1 class="Middle-title">Сброс пароля
                    </h1>
                    <ul class="breadcrumbs Middle-breadcrumbs">
                        <li class="breadcrumbs-item"><a href="{% url 'main-page' %}">home</a>
                        </li>
                        <li class="breadcrumbs-item breadcrumbs-item_current"><span>Сброс пароля</span>
                        </li>
                    </ul>
                </div>
                <div class="row Header-rowMain">
                    <div class="row_alignCenter">
                        <a href="{% url 'main-page' %}"><img src="{% static 'assets/img/logo.png' %}"
                                                             alt="logo.png"/></a>
                    </div>
                </div>
            </div>
        </div>
        <form method="post"> {% csrf_token %}

            <div class="form-group_center">
                {% for field in form %}
                    <div class="form-group">
                        <label class="form-label">
                            {{ field.label_tag }}
                        </label>
                        <div class="row">
                            {{ field }}
                        </div>

                        <div class="form-error">
                            {{ field.errors }}
                        </div>
                    </div>
                {% endfor %}
                <div class="form-group">
                    <div class="modal_center">
                        <button class="btn btn_success" type="submit">Восстановить
                        </button>
                    </div>
                </div>
            </div>

        </form>
    </div>
{% endblock %}