{% extends 'base.html' %}

{% block title %}
    Смена пароля
{% endblock %}

{% block middle %}
    <div class="Middle">
        <div class="wrap">
            <div class="Section">
                <form method="post" autocomplete="off"> {% csrf_token %}
                    <div class="row">
                        <div class="row-block">
                            {% for field in form %}
                                <div class="form-group form-group_center">
                                    <label class="form-label">{{ field.label_tag }}
                                    </label>
                                    <div class="row">
                                        {{ field }}
                                    </div>
                                    <div class="form-error form-input_error">
                                        {{ field.errors }}
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="form-group form-group_center">
                                <button class="btn btn_success" type="submit">Сменить пароль
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}