{% extends 'base.html' %}
{% load static %}


{% block title %}
    Смена пароля
{% endblock %}

{% block header %}
{% endblock %}

{% block middle %}
    <div class="Middle Middle_top">
        <div class="BannersHomeBlock-img">
            <div class="wrap">
                <div class="Middle-header">
                    <h1 class="Middle-title">Смена пароля
                    </h1>
                    <ul class="breadcrumbs Middle-breadcrumbs">
                        <li class="breadcrumbs-item"><a href="{% url 'main-page' %}">home</a>
                        </li>
                        <li class="breadcrumbs-item breadcrumbs-item_current"><span>Смена пароля</span>
                        </li>
                    </ul>
                </div>
                <div class="row Header-rowMain">
                    <div class="row_alignCenter">
                        <a href="{% url 'main-page' %}"><img src="{% static 'assets/img/logo.png' %}"
                                                             alt="logo.png"/></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group_center">
            <div class="Section-columnSection_mark">
                <div class="Section-content">
                    Новый пароль успешно установлен
                </div>

            </div>
            <div class="Middle-footer">
                С заботой о Вас, Megano ❤
            </div>
        </div>
    </div>
{% endblock %}