{% extends 'base.html' %}
{% load static %}

{% block title %}
Catalog
{% endblock %}

{% block middle %}

<div class="Middle-top">
    <div class="wrap">
        <div class="Middle-header">
            <h1 class="Middle-title">Catalog Megano
            </h1>
            <ul class="breadcrumbs Middle-breadcrumbs">
                <li class="breadcrumbs-item"><a href="{% url 'main-page' %}">home</a>
                </li>
                <li class="breadcrumbs-item breadcrumbs-item_current"><span>Catalog</span>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="Cards">
    {% for category in categories %}
    <div class="Card"><a class="Card-picture"
                         href="{% url 'catalog-search'%}?s={{ category.slug }}"><img
            src="{{ category.image.url }}"
            alt="card.jpg"/></a>
        <div class="Card-content">
            <strong class="Card-title"><a href="{% url 'catalog-search' %}?s={{ category.slug }}">{{ category }}</a>
            </strong>
        </div>
    </div>
    {% endfor %}
</div>


<div class="Pagination">
    <div class="Pagination-ins"><a class="Pagination-element Pagination-element_prev" href="#"><img
            src="{% static 'assets/img/icons/prevPagination.svg' %}" alt="prevPagination.svg"/></a><a
            class="Pagination-element Pagination-element_current" href="#"><span
            class="Pagination-text">1</span></a><a class="Pagination-element" href="#"><span
            class="Pagination-text">2</span></a><a class="Pagination-element" href="#"><span
            class="Pagination-text">3</span></a><a class="Pagination-element Pagination-element_prev"
                                                   href="#"><img
            src="{% static 'assets/img/icons/nextPagination.svg' %}" alt="nextPagination.svg"/></a>
    </div>
</div>
{% endblock %}