{% extends "admin/base_site.html" %}
{% load static %}
{% load i18n %}


{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'assets/css/admin.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/basic.css' %}">
    <link href="{% static 'favicon.ico' %}" rel="shortcut icon">
{% endblock %}

{% block title %}
    403
{% endblock %}

{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">{{ site_header|default:_('Megano administration') }}</a>
    </h1>
{% endblock %}

{% block content %}
    <h1>
        Permission denied. You don't have rights enough :(
    </h1>
{% endblock %}
